p{
	font-size: 20px;
	font-family: times new roman;
	margin-left: 30px;
	margin-right: 20px;
}
img{
	text-align: center;
	margin-left: 35%;
}
h3{
	font-family: times new roman;
	text-align: center;
}
/*Dispositivos pequeños*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
	
}

@media only screen and (min-width: 768px) and (max-width: 1024px){

}

/*Dispositivos mas grandes*/
@media (min-width: 1200px) { 
		

}